<!-- markdownlint-disable MD041 -->
{% set A = 3 %}
{% set C = sections|length + A + 1 %}
{% set conf_offset = 1 if conformance_partial else 0 %}

{{ stream }}
**Author:** {{ author }}{% if author_affiliation %} ({{ author_affiliation }}){% endif %}
**Document identifier:** {{ identifier }}
**Category:** {{ category }}
**Date:** {{ date }}
**License:** {{ license }}

---

# {{ title }}

## Abstract

{{ abstract }}

---

## Status of This Memo

{% if status_memo %}{{ status_memo }}{% else %}This document is not an Internet Standards Track specification; it is published for informational purposes.

The author intends to submit this document to the RFC Editor as an Independent Submission. It has not yet been reviewed or approved for publication. Documents approved for publication by the RFC Editor are not a candidate for any level of Internet Standard; see [Section 2 of RFC 7841](https://www.rfc-editor.org/info/rfc7841/#2-rfc-streams-and-internet-standards).
{% if repository_url %}
Information about the current status of this document and how to provide feedback may be obtained at <{{ repository_url }}>.
{% endif %}{% endif %}

---

## Copyright Notice

{% if copyright_notice %}{{ copyright_notice }}{% else %}Copyright (c) {{ copyright_year }} {{ author }}. All rights reserved.

This document is made available under {{ license }}.{% endif %}

---

## Table of Contents

{% include 'partials/toc.md.j2' %}

---

## 1. Introduction

{{ introduction }}

---

## 2. Terminology

{% for t, d in terms.items() %} - **{{ t }}** - {{ d }}
{% endfor %}

---

## 3. Design Principles

| Principle | Rule |
| --------- | ---- |
{% for p, r in principles.items() %}| {{ p }} | {{ r }} |
{% endfor %}

---

{% for f in sections %}
{% set section_no = loop.index + A %}
{% if f.partial %}
{% include f.partial %}
{% else %}
## {{ section_no }}. {{ f.title }}

{{ f.body }}
{% for table in f.tables %}{% include 'partials/table.md.j2' %}{% endfor %}
{% for g in f.subsections %}
{% set subsection_no = section_no ~ '.' ~ loop.index %}
### {{ subsection_no }} {{ g.title }}

{{ g.body }}
{% for table in g.tables %}{% include 'partials/table.md.j2' %}{% endfor %}
{% if g.partial %}
{% include g.partial %}
{% else %}
{% for h in g.subsections %}
#### {{ subsection_no }}.{{ loop.index }} {{ h.title }}

{% if h.partial %}
{% include h.partial %}
{% else %}
{{ h.body }}
{% for table in h.tables %}{% include 'partials/table.md.j2' %}{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
{% endif %}

---
{% endfor %}

{% if conformance_partial %}
## {{ C }}. Conformance

{% include conformance_partial %}

---

{% endif %}
## {{ C + conf_offset }}. Security Considerations

{{ security }}

---

## {{ C + conf_offset + 1 }}. IANA Considerations

{{ iana }}

---

## {{ C + conf_offset + 2 }}. References

### Normative References

{% for ref in normative_references %}- **\[{{ ref.key }}\]** {{ ref.citation }}{% if ref.url %} <{{ ref.url }}>{% endif %}
{% endfor %}

### Informative References

{% for ref in informative_references %}- **\[{{ ref.key }}\]** {{ ref.citation }}{% if ref.url %} <{{ ref.url }}>{% endif %}
{% endfor %}

---

## Author's Address

**{{ author }}**{% if author_affiliation %}
{{ author_affiliation }}{% endif %}
